<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enfermagem</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/query.css">

    <style>

    </style>
</head>
<body>
    <main>
        <h1>Formulário</h1>
        <form action="#" method="post">
            <label for="idnome">Nome: </label>
            <input type="text" name="nome" id="idnome" required><br>
            <label for="ididade">Idade:</label>
            <input type="number" name="idade" id="ididade" required><br>
            <label for="sexo">Sexo:</label>
            <label for="idmasc">Masculino</label>
            <input type="radio" name="sexo" id="idmasc" value="Masculino" required> <!--Deixei o value="Masculino" pois é esse valor que irá para o banco-->
            <label for="idfem">Feminino</label>
            <input type="radio" name="sexo" id="idfem" value="Feminino" required><br> <!--Deixei o value="Feminino" pois é esse valor que irá para o banco-->
            <input id="button" type="submit" value="Enviar">
        </form>
    </main>
</body>
</html>