<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Enfermagem</title>
  </head>
  <body>
    <!-- <h2 style="color: white; text-align: center">Enfermagem - UNAMA</h2>
    <hr /> -->
    <div class="container">
      <div class="loginUser">
        <br />
        <h3 class="title">BEM-VINDO, ALUNO!</h3>
        <br />
        <br />
        <br />
        <br />
        <div class="user"></div>
        <form action="" class="forms">
          <div>
            <input
              class="usuario"
              type="text"
              name="user"
              id="user"
              maxlength="8"
              placeholder="Matrícula"
              required
            />
          </div>
          <br />
          <div>
            <input
              class="usuario"
              type="password"
              name="password"
              id="password"
              maxlength="4"
              placeholder="Senha"
              required
            />
          </div>
          <br />
          <br />
          <div class="btn">
            <button class="btnLogin">LOGIN</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
